@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,900&display=swap');
/* font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif; */

html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #2f2323;
    background-color: #e9f0fd;
}

p{
    padding: 0;
    margin: 0;
}

a{
    display: inline-block;
    text-decoration: none;
    color: #2f2323;
  }

img { 
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

.clearfix::after{
    display: table;
    content: '';
    clear: both;
}

/* Заголовки секций*/
.headline{
    text-align: center;
    text-transform: uppercase;
    font-size: 28pt;
    font-family: 'Roboto', sans-serif; 
    font-weight: 900;
    color: #515151;
    margin: 0;
    margin-bottom: 82px; 
    margin-top: 100px;
  }
  
  .headline::after{
    display: block;
    margin: auto;
    content: "";
    height: 7px;
    width: 160px;
    margin-top: 32px;
    background-color: #1abc9c;
  }

/*--Меню сайта--*/
header{
    background-color: white;
}

.nav_bar{
  overflow: hidden;
  padding: 30px 0 30px;
}

/* Логотип */
.logo{
    display: inline-block;
    font-size: 30pt;
    color: #555252;
    font-weight: 300;
    vertical-align: middle
}

.logo:first-letter {
  font-family: 'Roboto', sans-serif;
  color: #1abc9c;
  font-weight: 700;
}

/* Меню */
.menu{
    width: 601px;
    margin: 0;
    margin-top: 12px;
    padding: 0;
    float: right;
}

.menu li {
    float: left;
    margin-right: 36px;
    list-style-type: none;
}

.menu li:last-child{
    margin-right: 0;
}

.section_menu{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14pt;
    color: #0f0101;
}

.section_menu:hover,
.section_menu:focus{
    color: #1abc9c;
}

/* Слайдер */
.slider{
    height: 600px;
    background-color: #555252;
}

.btn_nav{
    position: relative;
    height: inherit;
}

.btn{
    position: absolute;
    width: 100px;
    height: 100px;
    border: 0;
    font-size: 50px;
    color: white;
    font-weight: 600;
    background-color: #1abc9c;  
    z-index: 100;
    top: 50%;
    transform: translateY(-50%);
}

.btn:hover{
    opacity: 0.7;
}

.btn_prev{
    left:0;
}

.btn_next{
    right: 0;
}

.slides{
    position: relative;
    top: -100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #0f0101;
}

.slides_img{
    height: 600px;
    width: 100%;
    object-fit: cover;
    opacity: .4;
}

.slides_txt_wrapper{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.slides_name{
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    font-weight: 900;
    margin: 0;
}

.slides_text{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 300;
}

/* Карточки */
.new_colection{
    padding-bottom: 100px;
}

.card_main{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.card_main li{
    float: left;
    margin-right: 26px;
}

.card_main li:last-child{
    margin-right:0;
}

.card{
    width: 255px;
    height: 320px;
}

.card_img{
    height: 280px;
    width: 255px;
    object-fit: cover;
}

.card_text_wapper{
    height: 40px;
    background-color: #323232;  
}

.card_font{
    height: 40px;
    padding: 12px;
    font-size: 16px;
    color: white;
}

.card_name{
    display: inline-block;
    text-transform: uppercase;
}

.card_cost{
    float: right;
    background-color: rgba(255, 255, 255, 0.274)
}

.card:hover>.card_modal{
    display: block;
}

.card:hover>.card_text_wapper{
    background-color: #1abc9c;
}

.card_modal{
    display: none;
    position: absolute;
    height: 280px;
    width: 255px;
    border: 10px solid rgba(255, 255, 255, .9);
    background-color: rgba(0, 0, 0, 0.5);
    /* opacity: 0.5;    */
}

.card_modal_list{
    width: 166px;
    height: 107px;
    margin: 0;
    padding: 0;
    margin-top: 80px;
    margin-left: 35px;
    list-style: none;
    /* overflow: hidden; */
}

.card_modal li{
    text-align: center;
    margin-right: 8px;
    margin-bottom: 6px;
}

.card_modal li:nth-child(3n),
.card_modal li:last-child{
    margin-right: 0;
}

.modal_item{
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid white;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    font-size: 25px;
}

.modal_item:hover{
    border: 0;
    background-color: #1abc9c;
}

.last_item{
    width: 166px;
    background-color: #323232;
    margin-bottom: 0; 
}

.last_item_p{
    display: inline-block;
    font-size: 16px;
    margin-left: 7px;
}

/* Футтер сайта */

.foot{
    height: 90px;
    background-color: #323232;
    text-align: center;
    color: white;
    font-weight: 300;
}

.foot_text{
    margin-top: 35px;
    display: inline-block;
}

.foot_link{
    display: inline-block;
    color: #1abc9c;
}