@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
	margin: 0 auto;
	text-align: center;
}

.bg-timer {
	font-size: 35px;
}

button {
	margin: 40px 0;
	background-color: #555555;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

button:hover {
	background-color: #e7e7e7;
	color: black;
}

.timer {
	display: flex;
	justify-content: center;
}

.field {
	background-color: #3199dc;
	margin: 0 10px;
	border-radius: 10px;
	border: 2px solid #3199dc;
	box-shadow: 0 0 0 2px white, 0 0 0 4px #3199dc;
}

.value {
	display: block;
	margin: 10px 15px;
	font-family: "Roboto", sans-serif;
	font-size: 50px;
	color: beige;
}

.label {
	display: block;
	margin: 10px 10px;
	color: beige;
	text-transform: uppercase;
}
