.main_head{
    height: 1000px;
    background: $linear-gradient-orange;  
    &:before{
        content: "";
        position: absolute;
        height: inherit;
        width: 100%;
        background: url(../images/head-banner-small.jpg) no-repeat center;
        background-size: cover;
        z-index: -1;
    }
}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
    .main_head:before{
        background: url(../images/head-banner-lagre.jpg) no-repeat center;
    }
}

/* Обертка-шапка сайта */
.head_block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-top: 30px;
    padding-bottom:160px; 
}