@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600,700');
@import url('Roboto:300,900&display=swap&subset=cyrillic');
/* font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif; */

/*Верстка через border-box*/
html {
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    color: #0f0101;
   }
   
   *, *::before, *::after {
     box-sizing: inherit;
}

body{
  margin: 0;
}

a{
  display: inline-block;
  text-decoration: none;
  color: #2f2323;
}

img { 
  display: block;
  max-width: 100%;
  height: auto;
  }

.container {
    width: 1110px;
    margin: 0 auto;
}

.headline{
  text-align: center;
  text-transform: uppercase;
  font-size: 28pt;
  font-family: 'Roboto', sans-serif; 
  font-weight: 900;
  color: #515151;
  margin: 0;
  margin-bottom: 82px;
}

.headline::after{
  display: block;
  margin: auto;
  content: "";
  height: 7px;
  width: 160px;
  margin-top: 32px;
  background-color: #1abc9c;
}

.clearfix::after{
  display: table;
  content: '';
  clear: both;
}

/*--Меню сайта--*/
header{
    font-family: 'Roboto', sans-serif;
    color: #2f2323;
}

.nav_bar{
  overflow: hidden;
  padding: 38px 0 86px;
}

/* Логотип */
.logo{
    display: inline-block;
    font-size: 30pt;
    color: #555252;
    font-weight: 300;
    vertical-align: middle
}

/* Вариант создания логотипа
.logo::before{
    content: "M";
    font-family: 'Roboto', sans-serif;
    color: #1abc9c;
    font-weight: 700;
} */

.logo:first-letter {
  font-family: 'Roboto', sans-serif;
  color: #1abc9c;
  font-weight: 700;
}

/* Меню */
.menu{
    width: 601px;
    margin: 0;
    margin-top: 12px;
    padding: 0;
    float: right;
}
  
.menu li {
  float: left;
  margin-right: 36px;
  list-style-type: none;
}

.menu li:last-child{
  margin-right: 0;
}
  
.section_menu{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14pt;
  color: #0f0101;
}

.section_menu:hover,
.section_menu:focus{
  color: #1abc9c;
}

/* ---Центральная часть сайта--- */
.featured_products{
  padding-bottom: 105px;
}
/* Карточки продаж */
.main_style{
  margin-top: 100px;
}

.featured_list{
  margin: 0;
  padding: 0;
  list-style: none;
}

.featured_list li{
  margin-right: 30px;
  margin-bottom: 30px;
  float: left;
}

.featured_list li:nth-child(4n){
  margin-right: 0;
}

.featured_list li:nth-last-child(-n+4){
  margin-bottom: 0;
}

.featured_item{
  width: 255px;
  height: 322px;
  background-color: #323232;
  transition: background-color 0.3s;
  font-family: 'Roboto', sans-serif;
  font-size: 14pt;
  font-weight: 900;
  color: azure;
  text-transform: uppercase; 
}

.featured_item:hover {
  background-color: #1abc9c;
}

.slide_text {
  display: inline-block;
  margin-left: 14px;
  margin-top: 9px;
  color: azure;
}

.slide_cost{
  background: rgba(214, 214, 214, 0.6);
  float: right;
  margin: 0;
  padding: 9px;
}

/* Карточки новостей */
.lastes_news{
  padding-bottom: 80px;
}

.news_list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 11pt;
  font-weight: 400;
}

.news_list li{
  margin-right: 30px;
  float: left;
}

.news_list li:nth-child(3n){
  margin-right: 0;
}

.news_items {
  width: 350px;
  height: 500px;
}

.news_title {
  font-family: 'Open Sans', sans-serif;
  font-size: 12pt;
  font-weight: 600;
  margin: 0;
  margin-top: 10px;
}

.news_title::after{
  display: block;
  content: "";
  height: 3px;
  width: 140px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #1abc9c;
}

.news_text{
  margin: 0;
  margin-bottom: 15px;
}

.btn {
  display: inline-block;
  height: 50px;
  width: 160px;
  /*Центрирую текст в кнопке по вертикале паддингом по горизонтали vertical-align*/
  padding: 14px 0;
  text-align: center;
  background-color: #1abc9c;
  border-radius: 2px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12pt;
  font-weight: 600;
  color: azure;
  transition: color 0.3s, background-color 0.3s;
}

.btn:hover{
  color: #515151;
  background-color: white;
  border: 1px solid #626262;
}
